body {

    background-color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;

}

H1 {

    color: white;

}

#title {

    display: flex;
    align-items: center;
    justify-content: center;

}

#options {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#password {
    flex-direction: column;
}

/* BUTTONS */

button {

    height: 30px;
    width: 90px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    border-color: gray;

    color: rgb(49, 49, 49);

}

button:hover {

    background-color: rgb(255, 255, 255);
    border-color: black;

}

/* INPUT */

input {

    height: 25px;
    width: 180px;

    border-radius: 5px;
    text-align: center;

    background-color: rgb(228, 228, 228);
    border-color: gray;

}

::placeholder {

    color: rgb(117, 117, 117);

}